Repository dnd-side-project/dnd-10th-5-frontend, pull requests merged in 2024-02, with the labels that each got.

#19 chore(*): eslint 검사 범위 수정, turbo.json 수정, ignorePatterm 추가
  apps/extension/.eslintrc.cjs
  apps/extension/package.json
  apps/web/.eslintrc.cjs
  apps/web/package.json
  packages/ui/package.json
  turbo.json
Labels: chore

#20 chore(.github/workflow): ci.yml 추가
  .github/workflows/ci.yml
Labels: chore

#22 chore(.github): CODEOWNERS 추가
  .github/CODEOWNERS
Labels: chore

#24 chore(.lintstagedrc): micromatch 사용에 부합하는 규칙으로 변경
  .lintstagedrc
Labels: chore

#26 chore(packages): shared 추가, ui 삭제
  package.json
  packages/shared/components/.eslintrc.js
  packages/shared/components/package.json
  packages/shared/components/src/index.ts
  packages/shared/components/tsconfig.json
  packages/shared/hooks/.eslintrc.js
  packages/shared/hooks/package.json
  packages/shared/hooks/src/index.ts
  packages/shared/hooks/tsconfig.json
  packages/shared/icons/.eslintrc.js
  packages/shared/icons/package.json
  packages/shared/icons/src/index.ts
  packages/shared/icons/tsconfig.json
  packages/shared/utils/.eslintrc.js
  packages/shared/utils/package.json
  packages/shared/utils/src/index.ts
  packages/shared/utils/tsconfig.json
  packages/ui/package.json
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  packages/ui/tsconfig.json
  packages/ui/tsconfig.lint.json
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: chore

#29 chore(web, eslint-config-favolink): 필수 라이브러리 설치 및 기본 설정, eslint에 import/no-unresolved 해제
  apps/web/.eslintrc.cjs
  apps/web/package.json
  apps/web/public/mockServiceWorker.js
  apps/web/src/App.tsx
  apps/web/src/assets/vite.svg
  apps/web/src/main.tsx
  apps/web/src/mocks/browser.ts
  apps/web/src/mocks/handlers/auth.ts
  apps/web/src/mocks/handlers/index.ts
  apps/web/src/pages/HelloPage.tsx
  apps/web/src/routes/index.tsx
  apps/web/tsconfig.json
  apps/web/vercel.json
  apps/web/vite.config.ts
  packages/eslint-config-favolink/index.js
  pnpm-lock.yaml
Labels: chore

#31 chore(.github/workflows/ci.yml): pnpm/action-setup v2에서 v3로 업데이트
  .github/workflows/ci.yml
Labels: chore

#38 chore(.github): label 자동 추가하는 action 생성
  .github/labeler.yml
  .github/workflows/community.yml
Labels: chore

#33 feat(packages): util에 fetcher 추가
  apps/web/package.json
  apps/web/src/App.tsx
  packages/shared/utils/package.json
  packages/shared/utils/src/index.ts
  packages/shared/utils/src/request.ts
  pnpm-lock.yaml
Labels: feat

#41 chore(.github): PR시 작성자가 Assignees이 되는 action 추가
  .github/assign.yml
  .github/workflows/assign.yml
Labels: chore

#39 feat(web): reset.css.ts 생성 및 적용, 기존 css 파일 제거
  apps/web/src/App.css
  apps/web/src/App.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/styles/reset.css.ts
Labels: feat

#42 feat(web/components): Error, react-query가 포함된 ErrorBoundary 컴포넌트 추가
  apps/web/src/components/Error/index.tsx
  apps/web/src/components/Error/styles.css.ts
  apps/web/src/components/ErrorBoundary.tsx
  packages/eslint-config-favolink/index.js
Labels: chore, feat

#45 feat(web, shared/styles): 디자인 토큰 color, typography, font 추가
  apps/web/index.html
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/fonts/Pretendard-Bold.woff
  apps/web/src/fonts/Pretendard-Bold.woff2
  apps/web/src/fonts/Pretendard-Medium.woff
  apps/web/src/fonts/Pretendard-Medium.woff2
  apps/web/src/fonts/Pretendard-Regular.woff
  apps/web/src/fonts/Pretendard-Regular.woff2
  apps/web/src/fonts/Pretendard-SemiBold.woff
  apps/web/src/fonts/Pretendard-SemiBold.woff2
  apps/web/src/styles/font.css.ts
  packages/shared/styles/.eslintrc.js
  packages/shared/styles/package.json
  packages/shared/styles/src/reset.css.ts
  packages/shared/styles/src/text.css.ts
  packages/shared/styles/src/theme.css.ts
  packages/shared/styles/tsconfig.json
  pnpm-lock.yaml
Labels: chore, feat

#46 feat(web, eslint-config-favolink): Layout을 포함한 전체적인 router 추가, eslint import/order '@/**'을 internal 그룹으로 명시
  apps/web/src/App.tsx
  apps/web/src/components/Layout/components/Header/index.tsx
  apps/web/src/components/Layout/components/Header/styles.css.ts
  apps/web/src/components/Layout/components/NavBar/index.tsx
  apps/web/src/components/Layout/components/NavBar/styles.css.ts
  apps/web/src/components/Layout/components/index.tsx
  apps/web/src/components/Layout/index.tsx
  apps/web/src/components/Layout/styles.css.ts
  apps/web/src/components/Wrapper/components/Error/index.tsx
  apps/web/src/components/Wrapper/components/Error/styles.css.ts
  apps/web/src/components/Wrapper/components/ErrorBoundary.tsx
  apps/web/src/components/Wrapper/components/index.tsx
  apps/web/src/components/Wrapper/index.tsx
  apps/web/src/components/Wrapper/styles.css.ts
  apps/web/src/components/index.tsx
  apps/web/src/constants/index.ts
  apps/web/src/constants/path.ts
  apps/web/src/pages/HelloPage.tsx
  apps/web/src/router.tsx
  apps/web/src/routes/FavoliteLink/index.tsx
  apps/web/src/routes/FavoliteLink/styles.css.ts
  apps/web/src/routes/ForgottenLink/index.tsx
  apps/web/src/routes/ForgottenLink/styles.css.ts
  apps/web/src/routes/SavedLink/index.tsx
  apps/web/src/routes/SavedLink/styles.css.ts
  apps/web/src/routes/Signup/index.tsx
  apps/web/src/routes/Signup/styles.css.ts
  apps/web/src/routes/Space/index.tsx
  apps/web/src/routes/Space/styles.css.ts
  apps/web/src/routes/index.tsx
  packages/eslint-config-favolink/index.js
Labels: chore, feat

#48 feat(web): 임시 favicon 추가, fonts public으로 경로 변경
  apps/web/index.html
  apps/web/public/favicon.svg
  apps/web/public/fonts/Pretendard-Bold.woff
  apps/web/public/fonts/Pretendard-Bold.woff2
  apps/web/public/fonts/Pretendard-Medium.woff
  apps/web/public/fonts/Pretendard-Medium.woff2
  apps/web/public/fonts/Pretendard-Regular.woff
  apps/web/public/fonts/Pretendard-Regular.woff2
  apps/web/public/fonts/Pretendard-SemiBold.woff
  apps/web/public/fonts/Pretendard-SemiBold.woff2
  apps/web/src/assets/react.svg
  apps/web/src/assets/vite.svg
  apps/web/src/styles/font.css.ts
Labels: feat

#52 feat(shared/styles, web): 디자인 토큰 값 변경, home일 경우만 saved로 링크 이동으로 수정
  apps/web/src/components/Layout/index.tsx
  packages/shared/styles/src/theme.css.ts
Labels: feat

#57 feat(shared/styles/theme.css.ts): archiveColor, grayColor, systemColor로 구조 분해
  packages/shared/styles/src/theme.css.ts
Labels: feat

#58 feat({web,shared/components}/package.json, pnpm-lock, shared/componnets): 관련 라이브러리들 package.json에 추가, Button 컴포넌트 추가
  apps/web/package.json
  packages/shared/components/package.json
  packages/shared/components/src/Button/index.tsx
  packages/shared/components/src/Button/styles.css.ts
  packages/shared/components/src/index.ts
  packages/shared/components/src/index.tsx
  pnpm-lock.yaml
Labels: chore, feat

#61 feat(shared/components, web/components): Portal, Modal 컴포넌트 shared로 이동
  apps/web/src/components/index.tsx
  packages/shared/components/package.json
  packages/shared/components/src/Modal/index.tsx
  packages/shared/components/src/Modal/styles.css.ts
  packages/shared/components/src/Portal/index.tsx
  packages/shared/components/src/Portal/styles.css.ts
  pnpm-lock.yaml
Labels: chore, feat

#64 feat(shared/{components,hooks}): Heading 컴포넌트 추가, useDisclosure 훅 이동
  apps/web/src/hooks/index.ts
  packages/shared/components/src/Heading/index.tsx
  packages/shared/components/src/Heading/styles.css.ts
  packages/shared/components/src/index.tsx
  packages/shared/hooks/src/index.ts
  packages/shared/hooks/src/useDisclosure.ts
Labels: feat

#65 feat(shared/components): Text 컴포넌트 추가
  packages/shared/components/src/Text/index.tsx
  packages/shared/components/src/Text/styles.css.ts
  packages/shared/components/src/index.tsx
Labels: feat

#67 refactor(shared/components): ComponentRef으로 type 변경, 지칭하는 className, Modal.title에 Heading 추가
  packages/shared/components/src/Button/index.tsx
  packages/shared/components/src/Heading/index.tsx
  packages/shared/components/src/Modal/index.tsx
  packages/shared/components/src/Modal/styles.css.ts
  packages/shared/components/src/Portal/index.tsx
  packages/shared/components/src/Text/index.tsx
Labels: refactor
